@font-face {
  font-family: "SamsungSharpSans";
  src: url("./fonts/SamsungSharpSansBd.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SamsungSharpSans";
  src: url("./fonts/SamsungOne-400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "SamsungSharpSans", arial;
}
